<!DOCTYPE html>
<html>
<head>
	<title>Panda</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css'/>
</head>
<body ng-app="panda">

	<div ui-view=""></div>

	<script src='/bower_components/angular/angular.js'></script>
	<script src='/bower_components/angular-ui-router/release/angular-ui-router.js'></script>
	<script src='/bower_components/jquery/jquery.min.js'></script>
	<script src='/bower_components/lodash/dist/lodash.min.js'></script>
	<script src='/bower_components/restangular/dist/restangular.min.js'></script>
	<script src='/bower_components/js-md5/build/md5.min.js'></script>
	<script src="/bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>

	<script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
	<script src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.js'></script>

	<script src=/scripts/app.js></script>
	<script src=/scripts/comments.js></script>
	<script src=/scripts/directives.js></script>
	<script src=/scripts/controllers.js></script>
</body>
</html>
