body {
  padding: 100px;
  background-color: #F8F8F8 !important;
}

.margin-bottom {
  margin-bottom: 15px;
}

textarea {
  resize: none;
}

.form-control.ng-invalid {
  border: solid 1px #ff0000;
}

/*controls*/
.comments {
  width: 450px;
  border: solid 1px #EEEEEE;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.comments-form{
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  padding: 20px;
}

.comments .form-control {
  border-radius: 0;
  border: solid 1px #C6C6C6;
}

.comments-form div {
  text-align: end;
}

.comments-form button {
  width: 80px;
  background-color: #40A7DE;
  border: none;
}

.comments-list {
  padding: 40px 20px;
  background-color: white;

  display: flex;
  flex-direction: column;
}

.comments-list .has-feedback .form-control {
  padding-left: 35px;
  padding-right: 5px;
}

.comments-list .has-feedback .form-control-feedback {
  left: 0;
  color: #838383;
}

.comment-item img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.comments-container {
  max-height: 400px;
  overflow: auto;
}

.message-container {
  display: inline-block;
  vertical-align: middle;
  max-width: 350px;
}

.message-container span {
  color: #838383;
}